.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  min-width: 250px;
  border: 1px solid;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 3;
}

.toast-info {
  color: #055160;
  border-color: #9eeaf9;
  background-color: #cff4fc;
}

.toast-warning {
  color: #58151c;
  border-color: #f1aeb5;
  background-color: #f8d7da;
}

.toast-success {
  color: #0a3622;
  border-color: #a3cfbb;
  background-color: #d1e7dd;
}


.toast-animated {
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toast-close {
  background: none;
  border: none;
  padding: 0;
  margin-left: 12px;
}

.toast-close:focus {
    outline: none;
}