.side-bar-container {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.side-bar-content {
  position: relative;
  width: 300px;
  margin-left: auto;
  background-color: rgba(137, 43, 226, 0.613);
  animation: slideIn 0.3s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
